body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper { 
  display: flex;
  border: 2px solid green;
}

.wrapper span {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #000;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.queen {
  background-color: red !important;
}

.overflow-main {
  position: fixed;
  background-color: rgba(0,0,0,0.9);
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.overflow-main p {
  font-size: 2rem;
  color: #fff;
}

.overflow-main button {
  position: absolute;
  top: 10px;
  right: 10px;
}